.btn-delete,
.btn-edit {
  opacity: 0;
}

.todo:hover .btn-delete,
.todo:hover .btn-edit {
  opacity: 1;
}

input[type="checkbox"]:checked ~ label {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.3);
}

.todo__content-wrapper {
  flex: 1;
}

.todo__content {
  display: block;
}

.options div {
  cursor: pointer;
  border-radius: 6px;
  padding: 4px;
  border: 2px solid transparent;
}

.options div.active {
  border-color: rgba(255, 0, 0, 0.3);
}

.options div:hover {
  border-color: rgba(255, 0, 0, 0.5);
}

.todo {
  display: flex;
}

.none {
  display: none;
}

.todo__edit {
  width: 100%;
}

.todo__edit {
  margin: 0 10px;
  cursor: pointer;
}

.todo__edit_cancel {
  text-align: center;
  width: 10%;
  margin: 0 0 0 5px;
  cursor: pointer;
}

.btn-edit {
  margin-right: 10px;
}
