.todo__content--completed {
  text-decoration-line: line-through;
}

.todo__completed-btn {
  width: 20px;
  height: 20px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  box-sizing: border-box;
}

.unselectable {
  user-select: none;
}
