body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', '微軟正黑體';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-btn {
  margin-top: 10px;
  padding: 12px;
  border: solid 1px rgba(200, 200, 200, 1);
  width: 90px;
  height: 40px;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  text-align: center;
  margin: 15px auto;
}

.form-btn:hover {
  background-color: rgba(0, 12, 34, 0.07);
}

.form-input {
  height: 24px;
  width: 200px;
  margin: 7px auto;
  font-size: 14px;
  border-radius: 2px;
  border: solid 1px rgba(200, 200, 200, 1);
  outline: none;
}

.form-title {
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
}

.form-title:focus {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.form-textarea {
  width: 100%;
  height: 200px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
  resize: none;
  padding: 5px;
}

.form-textarea:focus {
  border: 2px solid rgba(0, 0, 0, 0.1);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.35);
  opacity: 1; /* Firefox */
}
